In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"test":[1,2,3],
                   "this":[1,2,3]})

In [3]:
df

   test  this
0     1     1
1     2     2
2     3     3

In [6]:
df.to_csv("yo.csv",mode='a',header=False,index=False)

In [8]:
x = {1:[1,2,3],2:'a',0:None}

In [9]:
max(x)

2

In [ ]:
import copy

test = ["test","this"]
test2 = copy.copy(test)

print(test[0] is not test2[0])